.cardBlog {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 600ms all cubic-bezier(0.175, 0.885, 0.32, 1);

  @include mobile {
    align-items: center;
  }

  @include hover {
    &:hover {
      .imgC {
        div {
          transform: scale(1.1);
        }
      }
    }
  }

  &.horizontal {
    flex-direction: row;
    gap: desktop-vw(40px);

    @include mobile {
      align-items: center;
      flex-direction: column;
      gap: mobile-vw(0px);
    }

    .imgC {
      @include dims(desktop-vw(660px), desktop-vw(500px));

      @include mobile {
        @include dims(100%, mobile-vw(230px));
      }
    }

    .text {
      .title {
        font-size: desktop-vw(28px);

        @include mobile {
          font-size: mobile-vw(24px);
        }
      }

      .description {
        font-size: desktop-vw(12px);

        @include mobile {
          font-size: mobile-vw(12px);
        }
      }
    }
  }

  .imgC {
    @include dims(100%, desktop-vw(320px));
    border-radius: desktop-vw(10px);
    overflow: hidden;
    transition: 600ms all cubic-bezier(0.175, 0.885, 0.32, 1);

    @include mobile {
      @include dims(100%, mobile-vw(230px));
      border-radius: mobile-vw(10px);
    }

    > div {
      transition: 600ms all cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }

  .text {
    flex: 0.75;
    margin-top: desktop-vw(20px);
    position: relative;

    @include mobile {
      margin-top: mobile-vw(20px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .category {
      color: var(--red-dit);
      font-family: var(--font-asap);
      font-size: desktop-vw(16px);
      font-weight: 400;
      margin-bottom: desktop-vw(8px);

      @include mobile {
        font-size: mobile-vw(20px);
        margin-bottom: mobile-vw(10px);
        text-align: center;
      }
    }

    .time {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(16px);
      font-weight: 400;
      margin-bottom: desktop-vw(24px);

      @include mobile {
        font-size: mobile-vw(14px);
        margin-bottom: mobile-vw(10px);
        text-align: center;
      }
    }

    .title {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(24px);
      font-weight: 700;
      margin-bottom: desktop-vw(14px);

      @include mobile {
        font-size: mobile-vw(24px);
        margin-bottom: mobile-vw(10px);
        text-align: center;
      }
    }

    .description {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(16px);
      font-weight: 400;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(14px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    .date {
      @include position(absolute, 0, 0, auto, auto);
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(16px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(14px);
      }
    }

    .link {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 400;
      text-decoration: underline;

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(10px);
        text-align: center;
      }
    }

    .cta {
      background-color: var(--cedar-wood-finish);
      border: 1px solid var(--cedar-wood-finish);
      border-radius: desktop-vw(12px);
      color: var(--white);
      display: inline-flex;
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 600;
      padding: desktop-vw(7px) desktop-vw(20px);
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(12px);
        font-size: mobile-vw(16px);
        padding: mobile-vw(7px) mobile-vw(16px);
      }

      @include hover {
        &:hover {
          background-color: var(--white);
          color: var(--cedar-wood-finish);
        }
      }
    }
  }
}
