.intro {
  margin-bottom: desktop-vw(100px);
  padding: desktop-vw(100px) 0;

  @include mobile {
    margin-bottom: mobile-vw(30px);
    padding: mobile-vw(30px) mobile-vw(16px);
    padding-bottom: mobile-vw(50px);
  }

  .imgC {
    @include dims(auto, desktop-vw(420px));
    margin: 0 0 0 desktop-vw(80px);
    position: relative;

    @include mobile {
      @include dims(auto, mobile-vw(250px));
      margin: 0;
      order: 2;
    }
  }

  .text {
    padding-left: desktop-vw(120px);

    @include mobile {
      margin-bottom: mobile-vw(30px);
      padding: 0 mobile-vw(16px);
    }

    > h1 {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(40px);
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(28px);
        margin-bottom: mobile-vw(30px);
        order: 1;
        text-align: center;
      }

      span {
        display: block;
      }
    }

    > p {
      @include dims(desktop-vw(490px), auto);
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 400;

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(16px);
        text-align: center;
      }
    }
  }
}

.marqueeC {
  @include dims(150vw, auto);
  background-color: var(--black);
  border-bottom: 1px solid var(--cedar-wood-finish);
  border-top: 1px solid var(--cedar-wood-finish);
  padding: desktop-vw(5px) 0;
  position: relative;
  transform: rotate(4deg) translateX(-25vw);

  @include mobile {
    padding: mobile-vw(10px) 0;
  }

  h2 {
    color: var(--red-dit);
    font-family: var(--font-anton);
    font-size: desktop-vw(80px);
    font-weight: 400;
    margin: 0 desktop-vw(50px);

    @include mobile {
      font-size: mobile-vw(40px);
    }
  }

  .sticker {
    @include position(absolute, 50%, desktop-vw(450px), auto, auto);
    @include dims(desktop-vw(300px));
    transform: translateY(-40%);
    z-index: 10;

    @include mobile {
      @include position(absolute, 50%, mobile-vw(80px), auto, auto);
      @include dims(mobile-vw(180px));
      transform: translateY(-40%);
    }
  }
}

.purpose {
  padding: desktop-vw(100px) desktop-vw(80px);

  @include mobile {
    padding: mobile-vw(50px) 0;
    padding-top: mobile-vw(75px);
  }

  > div {
    padding: 0 desktop-vw(40px);

    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    &:nth-child(2) {
      margin-top: desktop-vw(100px);

      @include mobile {
        margin-top: mobile-vw(50px);
      }
    }
  }

  h2 {
    color: var(--cedar-wood-finish);
    font-family: var(--font-asap);
    font-size: desktop-vw(30px);
    font-weight: 500;
    line-height: 1;
    margin-bottom: desktop-vw(30px);

    @include mobile {
      font-size: mobile-vw(30px);
      margin-bottom: mobile-vw(20px);
    }
  }

  p {
    @include dims(desktop-vw(440px), auto);
    color: var(--cedar-wood-finish);
    font-family: var(--font-asap);
    font-size: desktop-vw(16px);
    font-weight: 400;
    text-align: center;

    @include mobile {
      @include dims(mobile-vw(300px), auto);
      font-size: mobile-vw(17px);
    }
  }
}

.pros {
  --border-width: 3px;
  border-top: var(--border-width) solid var(--cedar-wood-finish);

  .imgC {
    @include dims(auto, desktop-vw(450px));
    border-bottom: var(--border-width) solid var(--cedar-wood-finish);

    @include mobile {
      @include dims(auto, mobile-vw(250px));
    }
  }

  .items {
    border-bottom: var(--border-width) solid var(--cedar-wood-finish);

    @include mobile {
      border-bottom: none;
    }

    > div {
      border-right: var(--border-width) solid var(--cedar-wood-finish);
      padding: desktop-vw(40px) 0;

      @include mobile {
        border-bottom: var(--border-width) solid var(--cedar-wood-finish);
        border-right: none;
        padding: mobile-vw(50px) 0;
      }

      &:last-child {
        border-right: none;
      }

      .iconC {
        @include dims(desktop-vw(60px));
        margin-bottom: desktop-vw(40px);

        @include mobile {
          @include dims(mobile-vw(60px));
          margin-bottom: mobile-vw(30px);
        }
      }

      > h3 {
        color: var(--cedar-wood-finish);
        font-family: var(--font-asap);
        font-size: desktop-vw(30px);
        font-weight: 600;
        line-height: 1;
        margin-bottom: desktop-vw(20px);

        @include mobile {
          font-size: mobile-vw(30px);
          margin-bottom: mobile-vw(20px);
        }
      }

      > p {
        @include dims(desktop-vw(260px), auto);
        color: var(--cedar-wood-finish);
        font-family: var(--font-asap);
        font-size: desktop-vw(18px);
        font-weight: 400;
        text-align: center;

        @include mobile {
          @include dims(mobile-vw(260px), auto);
          font-size: mobile-vw(18px);
        }
      }
    }
  }
}

.franchise {
  position: relative;

  .otherDelights {
    border-bottom: 3px solid var(--cedar-wood-finish);
    margin-bottom: desktop-vw(50px);
    padding: desktop-vw(50px) 0;

    @include mobile {
      padding: mobile-vw(10px) 0;
    }

    h2 {
      color: var(--cedar-wood-finish);
      font-family: var(--font-anton);
      font-size: desktop-vw(60px);
      font-weight: 400;
      margin: 0 desktop-vw(40px);

      @include mobile {
        font-size: mobile-vw(40px);
      }
    }
  }

  .links {
    @include dims(desktop-vw(1200px), auto);
    margin-bottom: desktop-vw(80px);
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      @include dims(100%, auto);
      padding: 0 mobile-vw(16px);
      margin-bottom: mobile-vw(40px);
    }

    .link {
      border-bottom: 2px solid var(--cedar-wood-finish);
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(40px);
      font-weight: 500;
      padding: desktop-vw(5px) 0;

      .iconC {
        @include dims(desktop-vw(18px));
      }

      @include mobile {
        font-size: mobile-vw(24px);
        padding: mobile-vw(10px) 0;

        .iconC {
          @include dims(mobile-vw(14px));
        }
      }
    }
  }

  .text {
    @include dims(desktop-vw(800px), auto);
    color: var(--cedar-wood-finish);
    font-family: var(--font-asap);
    font-size: desktop-vw(28px);
    font-weight: 400;
    text-align: center;

    > p {
      margin-bottom: desktop-vw(30px);
    }

    @include mobile {
      @include dims(100%, auto);
      font-size: mobile-vw(18px);
      padding: 0 mobile-vw(16px);

      > p {
        margin-bottom: mobile-vw(20px);
      }
    }
  }

  .boxes {
    @include dims(desktop-vw(1000px), auto);
    gap: desktop-vw(30px);
    margin-bottom: desktop-vw(-300px);
    margin-left: auto;
    margin-right: auto;
    margin-top: desktop-vw(50px);

    @include mobile {
      @include dims(100%, auto);
      gap: mobile-vw(8px);
      margin-bottom: mobile-vw(-100px);
      margin-top: mobile-vw(30px);
      padding: 0;
    }
  }
}

.career {
  background-color: var(--cedar-wood-finish);
  margin-bottom: desktop-vw(100px);
  padding: desktop-vw(80px) desktop-vw(120px);
  position: relative;

  @include mobile {
    padding: mobile-vw(50px) 0;
  }

  .text {
    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    h4 {
      @include dims(desktop-vw(350px), auto);
      color: var(--white);
      font-family: var(--font-asap);
      font-size: desktop-vw(32px);
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: desktop-vw(32px);

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(32px);
        line-height: 1.25;
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    p {
      @include dims(desktop-vw(500px), auto);
      color: var(--white);
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 400;
      margin-bottom: desktop-vw(40px);

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    .cta {
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: desktop-vw(12px);
      color: var(--white);
      display: inline-flex;
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 600;
      padding: desktop-vw(7px) desktop-vw(20px);
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(12px);
        font-size: mobile-vw(16px);
        padding: mobile-vw(7px) mobile-vw(16px);
      }

      @include hover {
        &:hover {
          background-color: var(--white);
          color: var(--cedar-wood-finish);
        }
      }
    }
  }

  .imgC {
    @include dims(auto, desktop-vw(420px));
    border-radius: desktop-vw(10px);
    overflow: hidden;

    @include mobile {
      @include dims(auto, mobile-vw(250px));
      border-radius: mobile-vw(10px);
      margin: 0 mobile-vw(16px);
      margin-bottom: mobile-vw(30px);
    }
  }

  .fillerBottom {
    @include position(absolute, auto, auto, desktop-vw(-150px), auto);
    @include dims(100%, desktop-vw(610px));
    transform: rotate(180deg);
    z-index: -1;

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(-50px), auto);
      @include dims(100vw, mobile-vw(160px));
    }
  }

  .munch {
    z-index: 10;
  }

  .munch1 {
    @include position(absolute, auto, auto, desktop-vw(-140px), desktop-vw(400px));
    @include dims(desktop-vw(55px));

    @include mobile {
      display: none;
    }
  }

  .munch2 {
    @include position(absolute, auto, desktop-vw(450px), desktop-vw(-200px), auto);
    @include dims(desktop-vw(66px));

    @include mobile {
      display: none;
    }
  }

  .munch3 {
    @include position(absolute, auto, desktop-vw(-80px), desktop-vw(-350px), auto);
    @include dims(desktop-vw(220px));
    filter: blur(4px);

    @include mobile {
      display: none;
    }
  }
}
