.intro {
  margin: desktop-vw(50px) 0;
  margin-top: desktop-vw(75px);

  @include mobile {
    margin: mobile-vw(30px) 0;
    padding: 0 mobile-vw(16px);
  }

  > h1 {
    color: var(--cedar-wood-finish);
    font-size: desktop-vw(40px);
    font-family: var(--font-asap);
    font-weight: 400;
    margin-bottom: desktop-vw(10px);

    @include mobile {
      font-size: mobile-vw(40px);
      line-height: 1.2;
      margin-bottom: mobile-vw(10px);
      text-align: center;
    }
  }

  > p {
    color: var(--cedar-wood-finish);
    font-size: desktop-vw(18px);
    font-family: var(--font-asap);
    font-weight: 400;

    @include mobile {
      font-size: mobile-vw(18px);
      text-align: center;
    }
  }
}

.products {
  padding-bottom: desktop-vw(100px);

  @include mobile {
    padding-bottom: mobile-vw(100px);
  }

  &:before {
    content: "";
    @include dims(90%, desktop-vw(1px));
    @include position(absolute, auto, 0, 0, 50%);
    background-color: var(--cedar-wood-finish);
    transform: translateX(-50%);
  }

  .product {
    color: var(--cedar-wood-finish);
    font-size: desktop-vw(32px);
    font-family: var(--font-anton);
    font-weight: 500;
    gap: desktop-vw(16px);

    @include mobile {
      font-size: mobile-vw(36px);
      gap: mobile-vw(16px);
    }

    @include hover {
      &:hover {
        .imgC {
          > img {
            transform: scale(1.1);
          }
        }
      }
    }

    .imgC {
      @include dims(desktop-vw(170px), desktop-vw(320px));

      @include mobile {
        @include dims(mobile-vw(170px), mobile-vw(320px));
        border-radius: mobile-vw(16px);
      }

      > img {
        transition: 800ms transform var(--ease-out-expo);
      }
    }
  }
}
