.intro {
  margin: desktop-vw(30px) 0;
  padding: 0 desktop-vw(80px);

  @include mobile {
    margin: mobile-vw(30px) 0;
    padding: 0 mobile-vw(16px);
  }

  > h1 {
    color: var(--theme-secondary);
    font-size: desktop-vw(40px);
    font-family: var(--font-asap);
    font-weight: 500;
    margin: 0 auto;
    transition: 400ms color ease;

    @include mobile {
      font-size: mobile-vw(40px);
    }
  }

  .breadcrumb {
    color: var(--cedar-wood-finish);
    font-size: desktop-vw(16px);
    font-family: var(--font-asap);
    font-weight: 400;
    transition: 400ms color ease;

    @include mobile {
      font-size: mobile-vw(15px);
      text-align: center;
    }

    .productName {
      opacity: 0.5;
    }
  }
}

.product {
  padding: 0 desktop-vw(80px);
  padding-bottom: desktop-vw(150px);

  @include mobile {
    padding: 0 mobile-vw(16px);
    padding-bottom: mobile-vw(100px);
  }

  .imgs {
    .imgC {
      @include dims(auto, desktop-vw(90px));
      background-color: var(--theme-primary);
      border-radius: desktop-vw(6px);
      transition: 200ms all ease;
      position: relative;
      transition: 400ms background-color ease;
      overflow: hidden;

      @include mobile {
        @include dims(mobile-vw(50px));
        border-radius: mobile-vw(4px);
      }

      &.active {
        &::before {
          content: "";
          @include position(absolute, -1px, -1px, -1px, -1px);
          background-color: var(--theme-secondary);
          border-radius: inherit;
          opacity: 0.3;
          transition: 400ms background-color ease;
          z-index: -1;
        }
      }
    }
  }

  .mainImgC {
    @include dims(auto, desktop-vw(520px));
    background-color: var(--theme-primary);
    border-radius: desktop-vw(8px);
    overflow: hidden;
    position: relative;
    transition: 400ms background-color ease;

    @include mobile {
      @include dims(auto, mobile-vw(300px));
      border-radius: mobile-vw(8px);
    }

    &::before {
      content: "";
      @include position(absolute, -1px, -1px, -1px, -1px);
      background-color: var(--theme-secondary);
      border-radius: inherit;
      opacity: 0.3;
      transition: 400ms background-color ease;
      z-index: -1;
    }

    .prevBtn {
      @include dims(desktop-vw(50px));
      background-color: var(--black);
      border-radius: 50%;
      padding: desktop-vw(10px);
      position: absolute;
      left: desktop-vw(20px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;

      @include mobile {
        @include dims(mobile-vw(35px));
        left: mobile-vw(10px);
      }
    }

    .nextBtn {
      @include dims(desktop-vw(50px));
      background-color: var(--black);
      border-radius: 50%;
      padding: desktop-vw(10px);
      position: absolute;
      right: desktop-vw(20px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;

      @include mobile {
        @include dims(mobile-vw(35px));
        right: mobile-vw(10px);
      }
    }

    .iconC {
      @include dims(desktop-vw(14px));

      @include mobile {
        @include dims(mobile-vw(10px));
      }

      * {
        transition: 300ms all ease;
      }
    }
  }

  .info {
    @include dims(desktop-vw(550px), auto);
    padding-top: desktop-vw(30px);
    padding-left: desktop-vw(60px);

    @include mobile {
      @include dims(auto);
      padding: 0;
      padding-top: mobile-vw(30px);
    }

    .name {
      color: var(--theme-secondary);
      font-size: desktop-vw(40px);
      font-family: var(--font-anton);
      font-weight: 400;
      transition: 400ms color ease;

      @include mobile {
        font-size: mobile-vw(32px);
        line-height: 1.35;
        margin-bottom: mobile-vw(10px);
        text-align: center;
      }
    }

    .size {
      color: var(--cedar-wood-finish);
      font-size: desktop-vw(16px);
      font-family: var(--font-asap);
      font-weight: 600;
      font-style: italic;
      margin-bottom: desktop-vw(20px);
      transition: 400ms color ease;

      @include mobile {
        font-size: mobile-vw(18px);
        margin-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    .desc {
      color: var(--cedar-wood-finish);
      font-size: desktop-vw(16px);
      font-family: var(--font-asap);
      font-weight: 400;
      margin-bottom: desktop-vw(50px);
      transition: 400ms color ease;

      @include mobile {
        font-size: mobile-vw(16px);
        line-height: 1.5;
        margin-bottom: mobile-vw(50px);
        text-align: center;
      }
    }

    .other {
      .title {
        color: var(--cedar-wood-finish);
        font-size: desktop-vw(20px);
        font-family: var(--font-asap);
        font-weight: 600;
        margin-bottom: desktop-vw(20px);
        transition: 400ms color ease;

        @include mobile {
          font-size: mobile-vw(16px);
          margin-bottom: mobile-vw(20px);
          text-align: center;
        }
      }

      .ingredientsDetail {
        color: var(--cedar-wood-finish);
        font-size: desktop-vw(16px);
        font-family: var(--font-asap);
        font-weight: 400;
        margin-bottom: desktop-vw(20px);
        transition: 400ms color ease;

        @include mobile {
          font-size: mobile-vw(16px);
          margin-bottom: mobile-vw(20px);
          text-align: center;
        }
      }

      .stickerC {
        @include dims(desktop-vw(110px));
        transition: 400ms border ease;

        @include mobile {
          @include dims(mobile-vw(110px));
        }
      }
    }
  }

  .stickerC {
    @include dims(desktop-vw(100px));
  }
}

.marqueeC {
  h2 {
    color: var(--theme-primary);
    font-family: var(--font-asap);
    font-size: desktop-vw(80px);
    font-weight: 400;

    @include mobile {
      font-size: mobile-vw(30px);
    }
  }

  .iconC {
    @include dims(desktop-vw(50px));
    margin: 0 desktop-vw(50px);

    @include mobile {
      @include dims(mobile-vw(30px));
      margin: 0 mobile-vw(30px);
    }
  }
}

.franchise {
  margin-bottom: desktop-vw(150px);
  padding: desktop-vw(100px) 0;

  @include mobile {
    padding: mobile-vw(50px) 0;
  }

  > p {
    @include dims(desktop-vw(860px), auto);
    color: var(--black);
    font-family: var(--font-asap);
    font-size: desktop-vw(26px);
    font-weight: 400;
    margin-bottom: desktop-vw(100px);
    text-align: center;

    @include mobile {
      @include dims(mobile-vw(300px), auto);
      font-size: mobile-vw(18px);
      margin-bottom: mobile-vw(50px);
    }
  }

  .cta {
    @include dims(desktop-vw(630px), desktop-vw(80px));

    @include mobile {
      @include dims(mobile-vw(300px), mobile-vw(60px));
    }
  }
}

.contact {
  background-color: var(--cedar-wood-finish);
  gap: desktop-vw(80px);
  padding: desktop-vw(20px);
  position: relative;

  @include mobile {
    gap: mobile-vw(30px);
    padding: mobile-vw(16px);
  }

  .formC {
    padding: desktop-vw(60px);
    padding-right: 0;

    @include mobile {
      padding: 0;
    }

    h2 {
      color: var(--white);
      font-family: var(--font-asap);
      font-size: desktop-vw(44px);
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }
  }

  .imgC {
    @include dims(100%, desktop-vw(760px));
    border-radius: desktop-vw(20px);
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(250px));
      border-radius: mobile-vw(10px);
    }
  }
}

.highlights {
  padding-bottom: desktop-vw(100px);

  @include mobile {
    padding-bottom: mobile-vw(50px);
  }

  &:before {
    content: "";
    @include dims(90%, desktop-vw(1px));
    @include position(absolute, auto, 0, 0, 50%);
    background-color: var(--cedar-wood-finish);
    transform: translateX(-50%);
  }

  .intro {
    margin: desktop-vw(50px) 0;
    margin-top: desktop-vw(75px);

    @include mobile {
      margin: mobile-vw(50px) 0;
    }

    > h1 {
      color: var(--cedar-wood-finish);
      font-size: desktop-vw(40px);
      font-family: var(--font-asap);
      font-weight: 400;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(40px);
        line-height: 1.2;
        margin-bottom: mobile-vw(16px);
        text-align: center;
      }
    }

    > p {
      color: var(--cedar-wood-finish);
      font-size: desktop-vw(18px);
      font-family: var(--font-asap);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(18px);
        line-height: 1.35;
        text-align: center;
      }
    }
  }

  .relatedProduct {
    color: var(--cedar-wood-finish);
    font-size: desktop-vw(32px);
    font-family: var(--font-anton);
    font-weight: 500;
    gap: desktop-vw(16px);

    @include mobile {
      font-size: mobile-vw(18px);
      gap: mobile-vw(16px);
    }

    @include hover {
      &:hover {
        .imgC {
          > img {
            transform: scale(1.1);
          }
        }
      }
    }

    .imgC {
      @include dims(desktop-vw(170px), desktop-vw(320px));

      @include mobile {
        @include dims(mobile-vw(260px), mobile-vw(310px));
        border-radius: mobile-vw(16px);
      }

      > img {
        transition: 800ms transform var(--ease-out-expo);
      }
    }
  }
}
