.intro {
  padding: desktop-vw(50px) desktop-vw(80px);

  @include mobile {
    padding: mobile-vw(30px) mobile-vw(16px);
  }

  > h1 {
    color: var(--cedar-wood-finish);
    font-family: var(--font-asap);
    font-size: desktop-vw(40px);
    font-weight: 600;

    @include mobile {
      font-size: mobile-vw(32px);
      text-align: center;
    }
  }
}

.highlight {
  padding: desktop-vw(0px) desktop-vw(80px);

  @include mobile {
    padding: mobile-vw(0px) mobile-vw(16px);
  }

  .cardC {
    @include dims(100vw, auto);

    @include mobile {
      @include dims(100%, auto);
    }
  }
}

.content {
  column-gap: desktop-vw(40px);
  padding: desktop-vw(50px) desktop-vw(80px);
  padding-bottom: desktop-vw(100px);
  position: relative;
  row-gap: desktop-vw(100px);

  @include mobile {
    column-gap: mobile-vw(40px);
    margin-bottom: mobile-vw(50px);
    padding: mobile-vw(80px) mobile-vw(16px);
    row-gap: mobile-vw(50px);
  }

  &:before {
    content: "";
    @include dims(90%, desktop-vw(1px));
    @include position(absolute, auto, 0, 0, 50%);
    background-color: var(--cedar-wood-finish);
    transform: translateX(-50%);
  }
}
