.intro {
  padding-bottom: desktop-vw(300px);
  padding-left: desktop-vw(120px);
  position: relative;
  z-index: 20;

  @include mobile {
    padding: 0 mobile-vw(16px);
    padding-bottom: mobile-vw(50px);
  }

  .textC {
    @include dims(50%, auto);

    @include mobile {
      @include dims(100%, auto);
    }
  }

  .text {
    @include dims(desktop-vw(445px), auto);
    padding-top: desktop-vw(150px);

    @include mobile {
      @include dims(100%, auto);
      padding-top: mobile-vw(40px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    > h1 {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(40px);
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: desktop-vw(32px);

      @include mobile {
        font-size: mobile-vw(32px);
        margin-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    > p {
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: desktop-vw(60px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(40px);
        text-align: center;
      }
    }

    .cta {
      background-color: transparent;
      border: 1px solid var(--cedar-wood-finish);
      border-radius: desktop-vw(12px);
      color: var(--cedar-wood-finish);
      display: inline-flex;
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 600;
      padding: desktop-vw(7px) desktop-vw(20px);
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(12px);
        font-size: mobile-vw(16px);
        padding: mobile-vw(7px) mobile-vw(16px);
      }

      @include hover {
        &:hover {
          background-color: var(--cedar-wood-finish);
          color: var(--white);
        }
      }
    }
  }

  .boxes {
    @include dims(50%, desktop-vw(500px));

    @include mobile {
      @include dims(100%, mobile-vw(300px));
    }
  }

  .box {
    z-index: 10;
  }

  .box1 {
    @include position(absolute, desktop-vw(170px), auto, auto, desktop-vw(-140px));
    @include dims(desktop-vw(190px), desktop-vw(350px));

    @include mobile {
      @include position(absolute, mobile-vw(130px), auto, auto, mobile-vw(20px));
      @include dims(mobile-vw(95px), mobile-vw(175px));
    }
  }

  .box2 {
    @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(30px));
    @include dims(desktop-vw(190px), desktop-vw(370px));

    @include mobile {
      @include position(absolute, mobile-vw(50px), auto, auto, mobile-vw(90px));
      @include dims(mobile-vw(95px), mobile-vw(175px));
    }
  }

  .box3 {
    @include position(absolute, desktop-vw(150px), auto, auto, desktop-vw(170px));
    @include dims(desktop-vw(220px), desktop-vw(400px));

    @include mobile {
      @include position(absolute, mobile-vw(90px), auto, auto, mobile-vw(170px));
      @include dims(mobile-vw(95px), mobile-vw(175px));
    }
  }

  .box4 {
    @include position(absolute, desktop-vw(220px), auto, auto, desktop-vw(320px));
    @include dims(desktop-vw(220px), desktop-vw(410px));

    @include mobile {
      @include position(absolute, mobile-vw(140px), auto, auto, mobile-vw(240px));
      @include dims(mobile-vw(95px), mobile-vw(175px));
    }
  }
}

.specs {
  position: relative;
  z-index: 10;

  .munch {
    z-index: 10;
  }

  .munch1 {
    @include position(absolute, desktop-vw(-50px), auto, auto, desktop-vw(600px));
    @include dims(desktop-vw(90px));

    @include mobile {
      @include position(absolute, mobile-vw(0px), auto, auto, mobile-vw(-15px));
      @include dims(mobile-vw(50px));
    }
  }

  .munch2 {
    @include position(absolute, desktop-vw(450px), auto, auto, desktop-vw(-30px));
    @include dims(desktop-vw(110px));

    @include mobile {
      @include position(absolute, mobile-vw(230px), auto, auto, mobile-vw(340px));
      @include dims(mobile-vw(50px));
    }
  }

  .munch3 {
    @include position(absolute, desktop-vw(150px), auto, auto, desktop-vw(220px));
    @include dims(desktop-vw(50px));

    @include mobile {
      @include position(absolute, mobile-vw(40px), auto, auto, mobile-vw(340px));
      @include dims(mobile-vw(50px));
    }
  }

  .munch4 {
    @include position(absolute, desktop-vw(700px), desktop-vw(70px), auto, auto);
    @include dims(desktop-vw(90px));

    @include mobile {
      @include position(absolute, mobile-vw(340px), auto, auto, mobile-vw(-10px));
      @include dims(mobile-vw(60px));
    }
  }

  .munch5 {
    @include position(absolute, desktop-vw(450px), desktop-vw(-30px), auto, auto);
    @include dims(desktop-vw(100px));

    @include mobile {
      @include position(absolute, mobile-vw(390px), auto, auto, mobile-vw(350px));
      @include dims(mobile-vw(40px));
    }
  }

  .munch6 {
    @include position(absolute, auto, auto, desktop-vw(-100px), desktop-vw(350px));
    @include dims(desktop-vw(210px));
    filter: blur(4px);

    @include mobile {
      @include position(absolute, mobile-vw(490px), auto, auto, mobile-vw(50px));
      @include dims(mobile-vw(40px));
      filter: blur(2px);
      display: none;
    }
  }

  .munch7 {
    @include position(absolute, desktop-vw(100px), auto, auto, desktop-vw(-20px));
    @include dims(desktop-vw(50px));

    @include mobile {
      @include position(absolute, mobile-vw(690px), auto, auto, mobile-vw(5px));
      @include dims(mobile-vw(30px));
    }
  }

  .munch8 {
    @include position(absolute, desktop-vw(-100px), auto, auto, desktop-vw(200px));
    @include dims(desktop-vw(130px));

    @include mobile {
      @include position(absolute, mobile-vw(890px), auto, auto, mobile-vw(4px));
      @include dims(mobile-vw(60px));
    }
  }

  .munch9 {
    @include position(absolute, desktop-vw(550px), desktop-vw(130px), auto, auto);
    @include dims(desktop-vw(60px));

    @include mobile {
      @include position(absolute, mobile-vw(490px), auto, auto, mobile-vw(340px));
      @include dims(mobile-vw(30px));
    }
  }

  .munch10 {
    @include position(absolute, desktop-vw(-50px), desktop-vw(250px), auto, auto);
    @include dims(desktop-vw(65px));

    @include mobile {
      @include position(absolute, mobile-vw(140px), auto, auto, mobile-vw(8px));
      @include dims(mobile-vw(30px));
    }
  }

  .munch11 {
    @include position(absolute, desktop-vw(100px), desktop-vw(-120px), auto, auto);
    @include dims(desktop-vw(300px));
    filter: blur(4px);

    @include mobile {
      @include position(absolute, mobile-vw(700px), auto, auto, mobile-vw(320px));
      @include dims(mobile-vw(80px));
      filter: blur(2px);
    }
  }

  .munch12 {
    @include position(absolute, auto, auto, desktop-vw(-170px), desktop-vw(-150px));
    @include dims(desktop-vw(340px));
    filter: blur(8px);

    @include mobile {
      @include position(absolute, mobile-vw(1100px), auto, auto, mobile-vw(-25px));
      @include dims(mobile-vw(80px));
      filter: blur(2px);
    }
  }

  .munch13 {
    @include position(absolute, desktop-vw(470px), auto, auto, desktop-vw(600px));
    @include dims(desktop-vw(40px));

    @include mobile {
      @include position(absolute, mobile-vw(940px), auto, auto, mobile-vw(330px));
      @include dims(mobile-vw(40px));
    }
  }
}

.marqueeProductsC {
  padding: desktop-vw(50px) 0;

  @include mobile {
    padding: mobile-vw(30px) 0;
  }

  h2 {
    color: var(--cedar-wood-finish);
    font-family: var(--font-anton);
    font-size: desktop-vw(60px);
    font-weight: 400;
    margin: 0 desktop-vw(50px);

    @include mobile {
      font-size: mobile-vw(40px);
      margin: 0 mobile-vw(20px);
    }
  }
}

.why {
  border-bottom: 1px solid var(--algerian-colar);
  gap: desktop-vw(80px);
  padding: desktop-vw(120px) 0;

  @include mobile {
    gap: mobile-vw(0px);
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  .imgs {
    position: relative;

    .imgC {
      @include dims(desktop-vw(580px), desktop-vw(360px));
      border-radius: desktop-vw(10px);
      overflow: hidden;
      z-index: 10;

      @include mobile {
        @include dims(100%, mobile-vw(240px));
        border-radius: mobile-vw(6px);
      }
    }

    .iconC {
      @include position(absolute, auto, 0, 0, auto);
      @include dims(desktop-vw(200px));
      transform: translate(40%, 75%);

      @include mobile {
        @include dims(mobile-vw(60px));
        display: none;
      }
    }
  }

  .text {
    > h1 {
      @include dims(desktop-vw(540px), auto);
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(40px);
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: desktop-vw(25px);

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(32px);
        margin-bottom: mobile-vw(20px);
      }
    }

    > p {
      @include dims(desktop-vw(440px), auto);
      color: var(--cedar-wood-finish);
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: desktop-vw(40px);

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(30px);
      }
    }

    .cta {
      background-color: transparent;
      border: 1px solid var(--cedar-wood-finish);
      border-radius: desktop-vw(12px);
      color: var(--cedar-wood-finish);
      display: inline-flex;
      font-family: var(--font-asap);
      font-size: desktop-vw(18px);
      font-weight: 600;
      padding: desktop-vw(7px) desktop-vw(20px);
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(12px);
        font-size: mobile-vw(16px);
        padding: mobile-vw(7px) mobile-vw(16px);
      }

      @include hover {
        &:hover {
          background-color: var(--cedar-wood-finish);
          color: var(--white);
        }
      }
    }
  }
}

.contact {
  background-color: var(--cedar-wood-finish);
  gap: desktop-vw(80px);
  margin: desktop-vw(200px) 0;
  padding: desktop-vw(0px) desktop-vw(120px);
  position: relative;

  @include mobile {
    gap: mobile-vw(30px);
    padding: mobile-vw(30px) mobile-vw(16px);
  }

  .formC {
    @include mobile {
      padding: 0;
    }

    h2 {
      color: var(--white);
      font-family: var(--font-asap);
      font-size: desktop-vw(32px);
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }
  }

  .imgC {
    @include dims(100%, desktop-vw(680px));
    border-radius: desktop-vw(10px);
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(250px));
      border-radius: mobile-vw(10px);
    }
  }

  .fillerTop {
    @include position(absolute, desktop-vw(-250px), auto, auto, auto);
    @include dims(100%, 100%);
    z-index: -1;

    @include mobile {
      @include position(absolute, mobile-vw(-50px), auto, auto, auto);
      @include dims(100vw, mobile-vw(160px));
    }
  }

  .fillerBottom {
    @include position(absolute, auto, auto, desktop-vw(-250px), auto);
    @include dims(100%, desktop-vw(610px));
    transform: rotate(180deg);
    z-index: -1;

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(-50px), auto);
      @include dims(100vw, mobile-vw(160px));
    }
  }
}
