@use "sass:color";

// Each color filled here will create a css variable exposed globally
$colors: (
  "white": rgb(255, 250, 234),
  "black": rgb(21, 24, 25),
  "error": rgb(229, 72, 77),
  "cedar-wood-finish": rgb(112, 21, 0),
  "toasted-marshmallow-fluff": rgb(255, 250, 234),
  "steamed-milk": rgb(237, 216, 190),
  "gourmet-honey": rgb(228, 203, 169),
  "red-dit": rgb(255, 72, 0),
  "pico-orange": rgb(255, 162, 0),
  "appetizing-asparagus": rgb(107, 164, 7),
  "magentle": rgb(155, 23, 174),
  "ironstone": rgb(134, 79, 66),
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    // for safari use case: https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
    --#{$name}-transparent: #{color.change($color, $alpha: 0)};
  }
}
