@use "sass:color";

// Each color filled here will create a css variable exposed globally
$colors: (
  "white": rgb(255, 250, 243),
  "black": rgb(21, 24, 25),
  "error": rgb(229, 72, 77),
  "science-blue": rgb(0, 117, 206),
  "algerian-colar": rgb(255, 91, 74),
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    // for safari use case: https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
    --#{$name}-transparent: #{color.change($color, $alpha: 0)};
  }
}
