// Fustat

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-ExtraBold.woff") format("woff"),
    url("/fonts/fustat/Fustat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-Bold.woff") format("woff"), url("/fonts/fustat/Fustat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-SemiBold.woff") format("woff"),
    url("/fonts/fustat/Fustat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-Medium.woff") format("woff"), url("/fonts/fustat/Fustat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-Regular.woff") format("woff"),
    url("/fonts/fustat/Fustat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-Light.woff") format("woff"), url("/fonts/fustat/Fustat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Fustat";
  src: url("/fonts/fustat/Fustat-Extra-Light.woff") format("woff"),
    url("/fonts/fustat/Fustat-Extra-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
